<div class="sidenav" id="mySidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= link_to "Home", root_path, id: "baritem"%>
  <%= link_to "About", about_path, id: "baritem" %>
  <%= link_to "Construction Services", construction_path , id: "baritem"%>
  <%= link_to "Engineering Services", engineering_path, id: "baritem" %>
  <%= link_to "Contact", contact_path, id: "baritem"%>
  <%= link_to "Projects", project_path, id: "baritem"%>
  <%= link_to "History", history_path, id: "baritem"%>
  <% if current_user %>
  <h2> Signed in as <%= current_user.username.capitalize%> </h2>
  <%= link_to "Sign Out", logout_path, id: "baritem" %>
  <%else%>
  <%= link_to "Register", register_path, id: "baritem"%>
  <%= link_to "Log In", login_path, id: "baritem" %>
  <%end%>
</div>

<div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

  <h1> Construction Services </h1>
  <h2>Construction Management</h2>

  <p> Our highly qualified Staff of Resident Engineers & Inspectors are specially trained to overcome the many and varied problems encountered in Construction Inspection & Management. Over 95% of them have achieved some degree of NICET Certification. Others are trained in the field use of computers and up to date technological devices.</p>

  <h3> Architectural Engineering: </h3>
  <p> We provide expert Architectural Services for the following:</p>
  <ul>
    <li>Americans with Disabilities Act (ADA) Compliance & Designs Buildings </li>
    <li>Rehabilitation of Private & Commercial Dwellings</li>
    <li> Town Planning</li>
    <li> Churches & Houses of Worship</li>
    <li> Educational Facilities</li>
    <li> Recreational Facilities</li>
    <li> Clinics & Medical Offices</li>
    <li> Plans & Building Permits</li>
    <li>Appraisals</li>
    <li>Low Income Family Developments</li>
      <li> Senior Citizen Housing</li>
      <li>Shopping Centers</li>
    </ul>
    <h4>HVAC & PLUMBING:</h4>
    <p> Our Mechanical Engineers are equipped to handle projects ranging from simple single family housing complex projects rehabilitation and sophisticated HVAC Systems for Commercial and Residential buildings:</p>
    <ul>
      <li>Mechanical Systems</li>
      <li>Fire Safety Systems</li>
      <li>HVAC Systems</li>
      <li>Studies & Reports</li>
      <li>Piping</li>
      <li>Plumbing</li>
      <li>Fire Protection</li>
      <li>Sprinkler Systems</li>
      <li>Waste Water</li>
      <li>Drainage</li>
      <li>Water Tanks</li>
      <li>Treatment Plants</li>
      </ul>
</div>